#menu {
    background-color: white;
    border-radius: 30px;
    margin: auto;
}

.card {
    margin: 1.5em;
}

.nav {
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.discover>.fas {
    color: white;
}

.card {
    transition: all .1s linear;
    display: block;
    border-radius: 20px;
}

.discover {
    display: none;
    height: 142px;
    background-color: rgb(216, 140, 0);
    margin: 2em;
    border-radius: 20px;
}

.card-img-top {
    display: block;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.363);
    cursor: pointer;
}

.card:hover .discover {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-img-top {
    display: none;
}


/* Modal */

.modal-dialog {
    border-radius: 30px;
}