#registrationForm {
    border-radius: 30px;
}

.form-control {
    margin-bottom: 1em;
}

#carta {
    margin-right: 1em;
}

.masthead-heading {
    margin-bottom: 1em;
    margin-top: 1em;
}

.page-section-heading {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}