/* Container needed to position the button. Adjust the width as needed */

.imageDiv {
    position: relative;
}


/* Bottone sopra all'immagine */

.imageDiv .file-input-container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Grafici */
canvas {
    margin-bottom: 1.5em;
}

#noChartOrdersAlert {
    display: none;
}

/* Lista panini personalizzati */
button {
    margin-top: 2px;
    margin-bottom: 2px;
}

#deleteCustomButton {
    display: none;
}

/* Input file */
.file-input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 17px;
  color: #b8b8b8;
}

.button-wrap {
  position: relative;
}

.button {
  display: inline-block;
  padding: 8px 18px;
  color: white;
}