/* Generale */

body {
    padding-top: 5em;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* Parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.divider-custom {
    margin: 1em;
    margin-top: 2em;
}

h2 {
    margin: 1em;
}

#orderNow:link {
    color: white;
    text-decoration: none;
    transition: all .1s linear;
}

#orderNow:visited {
    color: white;
    text-decoration: none;
}

#orderNow:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
}

#orderNow:active {
    color: white;
    text-decoration: none;
}


/* Navbar */

.nav-link {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0.5em;
    transition: all .1s linear;
}

.nav-link:hover,
.navbar-brand:hover {
    transform: scale(1.1);
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
    transition: all .1s linear;
}


/* Div Masthead (Ordina ora!) */

.masthead-heading {
    font-size: 5em;
    font-weight: bolder;
    margin-top: 2em;
}

.masthead-subheading {
    font-size: 1.4em;
    margin: 2em;
    margin-bottom: 4em;
}


/* Div Consigli e Menù */

#suggested,
#menu {
    margin: auto;
    padding: 2em;
    width: 85%;
}


/* Div Consigli */

.portfolio-item {
    border-radius: 20px;
    cursor: pointer;
    padding: 2em;
    transition: all .1s linear;
}

.portfolio-item:hover {
    box-shadow: 0 4px 40px grey;
    transform: scale(1.1);
}

#suggested {
    border-radius: 30px 30px 0 0;
}


/* Div Menù */

#menu {
    border-radius: 0 0 30px 30px;
}

.carousel-item {
    cursor: pointer;
}


/* Footer */

footer {
    padding: 3em;
}