body {
    padding-top: 5em;
    background-image: url("header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead-heading {
    font-size: 5em;
    font-weight: bolder;
    margin-top: 2em;
}

.divider-custom {
    margin: 1em;
    margin-top: 2em;
}

.masthead-subheading {
    font-size: 1.4em;
    margin: 2em;
    margin-bottom: 4em;
}

#suggested,
#menu {
    margin: auto;
    padding: 2em;
    width: 85%;
}

#suggested {
    border-radius: 30px 30px 0 0;
}

#menu {
    border-radius: 0 0 30px 30px;
}

#header {
    background-image: url('header.jpg');
}

footer {
    padding: 3em;
}

.nav-link {
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0.5em;
}

.navbar-brand {
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
}

.portfolio-item:hover {
    box-shadow: 0 4px 40px grey;
}

.portfolio-item,
.carousel-item {
    border-radius: 20px;
    cursor: pointer;
}

h2 {
    margin: 1em;
}